<div class="container">
	<p>
	  <button class="btn btn-large btn-info" type="button">
	  	<i class="icon-user icon-white"></i> Connect to FourSquare
	  </button>
	</p>

	<div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    Action
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <li><a tabindex="-1" href="#">Action</a></li>
	    <li><a tabindex="-1" href="#">Another action</a></li>
	    <li><a tabindex="-1" href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a tabindex="-1" href="#">Separated link</a></li>
	  </ul>
	</div>
</div>