<div class="container" id="navigation">
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#">Home</a>
	  </li>
	  <li><a href="#about">About</a></li>
	  <li><a href="#help">Help</a></li>
	  <li class="dropdown">
	    <a class="dropdown-toggle"
	       data-toggle="dropdown"
	       href="#">
	        Dropdown
	        <b class="caret"></b>
	      </a>
	    <ul class="dropdown-menu">
		    <li><a tabindex="-1" href="#">Action</a></li>
		    <li><a tabindex="-1" href="#">Another action</a></li>
		    <li><a tabindex="-1" href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a tabindex="-1" href="#">Separated link</a></li>
	    </ul>
	  </li>
	</ul>
</div>
<div id="content"></div>